.button, .choice-box {
    -fx-font-family: Monospace;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-alignment: center;

    -fx-background-color: #90dfaa;
    -fx-border-color: #70bf8a;

    -fx-cursor: hand;
}

.button:hover, .choice-box:hover, .calendar-box:hover {
    -fx-background-color: #fffd00;
    -fx-border-color: #dbd925;
}

.alone-button {
    -fx-pref-width: 50;
    -fx-pref-height: 50;

    -fx-min-width: 0;
    -fx-min-height: 0;
}

.tooltip {
    -fx-font-size: 25;
    -fx-border-color: rgba(0, 135, 65, 0.8);
    -fx-background-color: rgba(0, 90, 44, 0.8);

    -fx-background-radius: 15;
    -fx-border-radius: 15;

    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;
}

.row-button {
    -fx-pref-width: 38;
    -fx-pref-height: 38;

    -fx-min-width: 0;
    -fx-min-height: 0;
}

.circle-button {
    -fx-text-fill: #444;
    -fx-font-size: 13;

    -fx-background-radius: 25;
    -fx-border-radius: 25;

    -fx-pref-height: 29;
    -fx-pref-width: 29;

    -fx-min-height: 29;
    -fx-min-width: 29;
}

.orange-button {
    -fx-background-color: #f58118;
    -fx-border-color: #d04615;
}

.red-button, .red-button .tooltip {
    -fx-background-color: #e63906;
    -fx-border-color: #ba0000;
}

.green-button, .green-button .tooltip {
    -fx-background-color: #16c744;
    -fx-border-color: #21a657;
}

.choice-box-table, .button-table {
    -fx-font-size: 20;
    -fx-font-weight: normal;
    -fx-pref-width: 245;
}

.error-panel {
    -fx-background-color: #d50039
}

.success-panel {
    -fx-background-color: #00a649
}

.radius-15 {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.row-HBox {
    -fx-spacing: 5;
    -fx-alignment: center;
}

.popup-HBox {
    -fx-alignment: center;
}

.label, .text-area {
    -fx-font-family: Monospace;
    -fx-font-size: 20;
    -fx-alignment: center;
}

.text-field {
    -fx-font-family: Monospace;
    -fx-font-size: 20;
    -fx-alignment: center;
}

.text-field-big {
    -fx-font-size: 30;
}

.anchor-pane-popup {
    -fx-border-radius: 15;
    -fx-background-radius: 15;

    -fx-background-color: #bbb;
    -fx-border-color: #999;
}

.table-cell {
    -fx-alignment: baseline-center;
}

.calendar-box {
    -fx-backgroud-color: white;
    -fx-font-size: 15;
    -fx-font-family: Monospaced;
    -fx-text-fill: darkslategray
}

.calendar-label {
    -fx-font-size: 13;
    -fx-font-family: Monospaced;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #01e1c2;
    -fx-border-color: #0fceca;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.unactive-box {
    -fx-background-color: #E9F2F5;
}

.today-box {
    -fx-background-color: #f58118;
    -fx-border-color: #d04615;
}

.unactive-box:hover {
    -fx-background-color: #dbd925;
    -fx-border-color: #b9b71e;
}

.filter-box {
    -fx-border-color: #00a649;
    -fx-border-width: 5;
    -fx-border-radius: 15;
}